.DS_Store
.env
desci-ipfs
desci-server/tmp/
desci-server/temp_downloads
desci-art-viewer/dist/*
desci-models/.pnp.cjs
desci-models/.pnp.loader.mjs
desci-models/.yarn
desci-server/.yarn
desci-nodes-mirror
.VSCodeCounter
tmp
yarn_cache
yarn-error.log
database/
ganache-data/
ipfs-data/
local-data/
node-modules/
node_modules/*
.idea